/*No tocar este codigo*/ 
.sidebar-closed > #sidebar > ul {
    display: none;
}

.sidebar-closed #main-content {
    margin-left: 0px;
}

.sidebar-closed #sidebar {
    margin-left: -180px;
}

/*Escribe aqui tu codigo */

.black-bg {
    background: #424a5d;
}
.top-menu {
	position: absolute;
}
.fixed {
	position: fixed;
}
.header {
	position: fixed;
	width: 100%;
	padding: 10px;
	z-index: 10;
	border-bottom: rgb(41, 50, 93) 1px solid; 
}
.sidebar-toggle-box, .logo {
	color: white;
	display: inline-block;
	font-size: 20px;
	margin-right: 10px;
}
.logout {
	background: #9c4c9d;
	color: white;
	border-radius: 5px;
	font-size: 0.8em;
}
.top-menu .logout.btn:hover {
	background: #803281;
	color: #eee;
}
.top-menu {
	position: relative;
	margin-top: -15px;
}
.sidebar-menu {
	padding: 10% 0;
}
.sub-menu {
	list-style: none;
	padding: 0 10px;
}
.sub-menu a {
	color: white;
	padding: 25%;
}
.sub-menu i {
	margin: 0 5px;
}
#sidebar {
    width: 210px;
    height: 100%;
    margin-top: 4%;
}
#main-content {
	margin-left: 210px;
	padding-top: 50px;
}
.text-white {
	color: white;
}
